<div class="card flex justify-content-center scrollItem">
  <p-listbox [options]="listDetail" [(ngModel)]="selectedList" optionLabel="title" (onClick)="onEmitFuntion(selectedList)" [style]="{'width':'15rem'}">
    <ng-template let-list pTemplate="item">
      <div style="display: flex;">
          <span id="iconlocate" class="material-symbols-outlined" [ngClass]="{'icon-tannsparent':list.hide}">
            {{list.icon}}
          </span>
          <div class="timelist-time"> &nbsp;{{list.time}} </div>
          <div class="timelist-title"> &nbsp;&nbsp;{{list.title}}</div>
      </div>
    </ng-template>
  </p-listbox>
</div>
