
<div class = 'forFlex'>
  <div class="card flex justify-content-center scrollItem">
      <p-panelMenu [model]="yearsMenu"></p-panelMenu>
  </div>

  <div class="card scrollItem" id="timeline">
    <p-timeline [value]="timelineRecord">
      <ng-template pTemplate="marker" let-event>
        <span class="custom-marker shadow-2" [style.backgroundColor]="event.color" [style]="event.style"></span>
        <span class="custom-connect" [class]="event.class"></span>
      </ng-template>
      <ng-template pTemplate="content" let-event>
        <button (click)="onGetSelect(event)" >{{ event.time }} <br>
            <small class="p-text-secondary">{{ event.subtitle }}</small><br>
            <small class="p-text-secondary listbox-font">{{ event.title }}</small>
        </button>
      </ng-template>
    </p-timeline>
  </div>
</div>
