<!-- eslint-disable @angular-eslint/template/mouse-events-have-key-events -->

<div class='forFlex timeline-width'>
  <div class="card flex justify-content-center scrollItem">
      <p-panelMenu [model]="yearsMenu" id="yearsPanel"></p-panelMenu>
  </div>

  <div class="card scrollItem" id="scrollTable" (scroll)="onElementScroll()" (mouseover)="onMouseOver()" (mouseleave)="onMouseLeave()">
    <p-timeline [value]="timelineRecord" id="timeline">
      <ng-template pTemplate="marker" let-record>
        <span class="custom-marker shadow-2 dot-style green-dot" [ngClass]="{'orange-dot':record.selected}"></span>
        <span class="custom-connect eachconnent" [ngClass]="{'eachconnent-select':record.selected}"></span>
      </ng-template>
      <ng-template pTemplate="content" let-record>
        <div [ngClass]="{'triangle':record.selected}" style="display: flex;">
          <button (click)="onSelectTime(record)" class="button-time" [ngClass]="{'button-time-selected':record.selected}">
            <div style="line-height: 150%;">
              {{ record.time }} <br>
              <span class="fontsize" [ngClass]="{'fontsize-selected':record.selected}">{{ record.subtitle }}</span><br>
              <span class="fontsize-caption" [ngClass]="{'fontsize-caption-selected':record.selected}">{{ record.title }}</span>
            </div>
          </button>
        </div>
      </ng-template>
    </p-timeline>
  </div>
</div>
